.aboutImg {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
}

.imgMain {
    height: 70vh;
}

.imgLeft {
    height: 60vh;
    border-radius: 0 20px 20px 0;
}

.imgRight {
    height: 60vh;
    border-radius: 20px 0 0 20px;
}

.aboutIntro {
    position: absolute;
    top: 15%;
    margin-left: 15%;
    white-space: wrap;
    width: 20%;
    text-align: center;
}

.aboutIntro h5 {
    font-size: 1.5rem;
}

.aboutIntro p {
    font-size: 1rem;
}

@media (max-width: 730px) {
    .aboutIntro {
        width: 40%;
        margin-left: 5%;
        top: 20%;
    }

    .aboutIntro h5 {
        font-size: 1.2rem;
        padding: 0.5rem 0;
    }

    .aboutIntro p {
        font-size: 0.875rem;
        padding: 0.5rem;
    }
}

.greyRow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-light);
}

.bold {
    color: var(--green-dark);
}

.contactBtn {
    text-transform: uppercase;
    background-color: var(--green-dark);
    width: auto;
    display: inline-block;
    margin: 10px auto;
    border-radius: 0;
    font-weight: bold;
}

.contactBtn:hover {
    background-color: var(--green-light);
    border: 0;
}
