.aboutImg {
    position: relative;
    width: 100%;
    object-fit: cover;
    display: block;
}

.imgMain {
    height: 70vh;
}

.imgLeft {
    height: 60vh;
    border-radius: 0 20px 20px 0;
}

.imgRight {
    height: 60vh;
    border-radius: 20px 0 0 20px;
}

.aboutIntro {
    position: absolute;
    top: 15%;
    margin-left: 15%;
    white-space: wrap;
    width: 20%;
}

.greyRow {
   display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-light);
}

.contactBtn {
    text-transform: uppercase;
    background-color: var(--green-dark);
    width: auto;
    display: inline-block;
    margin: 10px auto;
    border-radius: 0;
    font-weight: bold;
}

.contactBtn:hover {
    background-color: var(--green-light);
    border: 0;
}
