.contactBackground {
    background-image: url(/img/background/about-2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
}

.form {
    font-weight: bold;
    font-size: 20px;
}

.formControl {
    font-size: 12px;
    width: 60vh;
    margin: auto;
}

.textArea {
    height: 18vh;
}

.formBtn {
    background-color: var(--green-dark);
    color: white;
    border: 1px solid var(--green-dark);
    font-weight: normal;
}

.contactInfoContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    max-width: 100%;
    text-align: center;
    margin: auto;
}

.mapText {
    color: var(--green-dark);
    font-weight: bold;
}