.contactBackground {
    background-image: url(/img/background/about-2.jpg);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    text-align: center;
}

.whiteBackground {
    height: 85vh;
    text-align: center;
    margin: auto;
}

.lighter {
    background-color: rgba(255, 255, 255, 0.5);
}

.darker {
    background-color: rgba(255, 255, 255, 0.7);
}

.form {
    font-weight: bold;
    font-size: 18px;
    width: 70%;
}

.formControl {
    font-size: 12px;
    width: 100%;
    margin: auto;
}

.textArea {
    height: 18vh;
}

.formBtn {
    background-color: var(--green-dark);
    color: white;
    border: 1px solid var(--green-dark);
    font-weight: normal;
}

.contactInfoContainer {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 20px;
    text-align: center;
    margin: auto;
}

.mapText {
    color: var(--green-dark);
    font-weight: bold;
}


@media (max-width: 767px) {

    .lighter {
        height: 60vh;
    }

    .formLabel {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .formControl {
        font-size: 14px;
    }

    .contactInfoContainer {
        padding: 10px;
        margin-top: 30px;
        margin-bottom: 40px;
    }

    .contactInfo {
        margin-top: 20px;
    }

    .mapRow {
        margin-bottom: 20px;
    }

    .mapSmall {
        height: 200px;
    }
}