.footer {
    background-color: var(--green-dark);
    color: white;
    width: 100%;
    padding-top: 10px;
    margin: 0;
    font-size: 12px;
}

.footerRow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
}

.icon {
    font-size: 20px;
    margin: 0 10px;
    cursor: pointer;
}

.facebook {
    font-size: 26px;
    color: white;
}

@media (max-width: 576px) {
    .footer {
        font-size: 10px;
    }

    .footerCol {
        margin-bottom: 10px;
    }
}