.backgroundImg {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepageCard {
    position: absolute;
    top: 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    text-align: center;
    border-bottom: 4px solid var(--yellow-light);
    display: inline-block;
    white-space: nowrap;
    font-weight: bold;
}

#galleryGrid {
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "wardrobe rtv bathroom"
    "kitchen kitchen bathroom";
}

#wardrobe {
    grid-area: wardrobe;
}

#rtv {
    grid-area: rtv;
}

#bathroom {
    grid-area: bathroom;
}

#kitchen {
    grid-area: kitchen;
}

.galleryGridArea {
    border: 2px solid red;
}