.backgroundImg {
    position: relative;
    width: 100%;
    height: auto;
    display: block;
}

.homepageCard {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 25px;
    text-align: center;
    border-bottom: 4px solid var(--yellow-light);
    display: inline-block;
    white-space: nowrap;
}
