.menu {
    background-color: var(--grey);
    text-transform: uppercase;
    font-family: Nunito, sans-serif;
    font-size: 13px;
}

.logo {
    width: 80px;
    margin-left: 20px;
}

.contact {
    color: var(--green-dark);
    font-weight: bold;
}

.collapse {
    background-color: var(--grey);
    margin-left: 20px;
}