.gallery {
    border: 1px solid var(--yellow-light);
    border-bottom: 7px solid var(--yellow-light);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.bigGallery {
    height: 80vh;
    width: 100vh;
}

.smallGallery {
    height: 25vh;
    width: 100%;
    cursor: pointer;
}

.carouselBtn {
    height: 20vh;
    background-color: white;
    color: black;
    border: 1px solid white;
    font-size: 30px;
}

.carouselBtn:hover {
    background-color: white;
    border: 1px solid white;
    color: var(--green-dark);
    font-size: 35px;
}

.small {
    font-size: 20px;
}

@media (max-width: 576px) {
    .bigGallery {
        height: 50vh;
    }

    .smallGallery {
        height: 12vh;
    }

    .carouselBtn {
        height: 10vh;
        font-size: 20px;
    }

    .carouselBtn:hover {
        font-size: 20px;
    }

    .small {
        font-size: 12px;
    }
}
