* {
    font-family: Nunito, sans-serif;
}

:root {
    --grey: #F6F6F6;
    --grey-light: #F4F4F4;
    --yellow-light: #FBE180;
    --green-dark: #016670;
}

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
}